@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
    --bg1: hsl(31, 77%, 52%);
    --bg2: hsl(184, 100%, 22%);
    --bg3: hsl(179, 100%, 13%);
    --color-paragraphs: hsla(0, 0%, 100%, 0.75);
    --color-headings-buttons: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.5rem;
    min-width: 375px;
    max-width: 1440px;
    height: 100vh;
    display: grid;
    place-content: center;
}


.container {
    /* width: 846px; */
    height: 462px;
    max-width: 846px;
    max-height: 462px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 7px;
    place-content: center;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 36px;
    height: 462px;
}

.card:nth-child(1) {
    background: var(--bg1);
    border-radius: 7px 0 0 7px;
}

.card:nth-child(2) {
    background: var(--bg2);
}

.card:nth-child(3) {
    background: var(--bg3);
    border-radius: 0 7px 7px 0;
}

.card__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card__icon {
    width: 60px;
}

.card__title {
    text-transform: uppercase;
    color: var(--color-headings-buttons);
    font-weight: 700;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 3.7rem;
}

.card__paragraph {
    line-height: 1.5;
    color: var(--color-paragraphs);
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
}

.card__cta {
    text-align: center;
    padding: 15px 10px;
    background: var(--color-headings-buttons);
    text-decoration: none;
    width: 60%;
    border-radius: 30px;
}

.card__cta--color1 {
    color: var(--bg1);
}

.card__cta--color2 {
    color: var(--bg2);
}

.card__cta--color3 {
    color: var(--bg3);
}

/* font-family: 'Lexend Deca', sans-serif; 400 */
/* font-family: 'Big Shoulders Display', sans-serif; 700 */

@media (max-width: 900px) {
    body {
        height: 1440px;
    }

    .container {
        grid-template-columns: 1fr;
        padding: 30px 20px;
    }

    .card {
        height: auto;
        gap: 30px;
    }

    .card:nth-child(1) {

        border-radius: 7px 7px 0 0;
    }

    .card:nth-child(3) {
        background: var(--bg3);
        border-radius: 0 0 7px 7px;
    }
}